.navbar {
  padding: 15px 20px;
  position: relative; /* for shadow bottom */
  @include shadow;       
  @include flex-center;
  @include tablet {
    padding: 15px 50px;
  }

  &__logo {
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
  }

  &__arrow {
    font-size: 20px;
    @include transition;
    &:hover {
      opacity: 1;  
      @include grow;
    }
  }
}

