.navbar {
  text-align: center;
  padding: 15px 20px;
  @include shadow;       
  position: relative; /* for shadow bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    padding: 15px 50px; /* maps ou autre blocs */
  }

  &__logo {
      flex-grow: 1;
      text-align: center;
      font-size: 30px;
  }

  &__arrow {
    font-size: 20px;
    @include hover-scale;
  }
}

