.navbar {
  padding: 15px 20px;
  position: relative; /* for shadow bottom */
  @include shadow;
  display: flex;       
  align-items: center;
  @include tablet {
    padding: 15px 80px;
  }

  &__logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: $color-white;
  }

  &__arrow {
    font-size: 20px;
    @include transition;
    &:hover {
      opacity: 1;  
      @include grow;
    }
  }
}

