// ALL BTNS
button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

// MAIN BTN
.main-btn {
    padding: 15px 10px;
    width: 200px;
    border-radius: 30px;
    @include shadow;
    background: $color-gradient;    
    color: $color-white;
    font-size: 15px;
    @include hover-main-btn;
}

// BTN LIKE
.btn-like {
    i {
        font-size: 25px;
        position: absolute;
    }
    .fa-solid {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: $color-gradient;
        opacity: 0;
        @include hover-scale;
    }
}

// BTN CHECK
.btn-check {
    background-color: $color-tertiary;
    color: $color-white;
    width: 60px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    margin-right: -60px;
    transition: 0.5s;
     &:focus {
         background-color: $color-white;
         color: $color-tertiary;
     }
}