@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.logo {
    font-family: Shrikhand, Roboto, sans-serif;
  }

  * {
    font-family: Roboto, sans-serif;
  }

$font-size: (logo:7rem, heading:5rem, project-heading:4rem, label:2rem);

