.location {
    display: flex;
    justify-content: center;
    background-color: $bg-location;
    gap: 10px;
    padding: 15px 0;
}

.presentation {
    @include padding-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bg-section;
    
    &__title {
        margin-bottom: 10px;
    }

    &__paragraph {
        margin-bottom: 30px;
    }
}

.operating {
    @include padding-block;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__list {
        display: grid;
        gap: 30px;
        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    article {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $bg-section;
        padding: 30px 30px;
        gap: 20px;
        border-radius: 20px;
        @include shadow;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-primary;
        border-radius: 50%;
        border: 2px solid $color-primary;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -15px;
        color: $color-white;
    }

    i {
        color: $color-icon;
        font-size: 20px;
    }
}

.restaurants {
    background-color: $bg-section;
    @include padding-block;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__list {
        display: grid;
        gap: 20px;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}

.card {
    border-radius: 20px;
    gap: 20px;
    @include shadow;
    @include hover-card;
}

.img-restaurant {
    position: relative;
    overflow: hidden;

    img {
        height: 175px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        @include img-zoom;
    }
}

.new {
    color: darken($color-tertiary, 50%);
    background-color: $color-tertiary;
    padding: 9px 12px;
    position: absolute;
    top: 15px;
    right: 16px;
    border-radius: 5px;
}

.description {
    padding: 15px;
    position: relative; 
    display: flex;
    justify-content: space-between;

    &__btn {
        position: absolute;
        top: 15px;
        right: 50px;
    }
}