.location {
    @include flex-center;
    background-color: $bg-location;
    gap: 10px;
    padding: 15px 0;
}

.presentation {
    @include padding-block;
    @include flex-center;
    text-align: center;
    @include flex-column;
    background-color: $bg-section;
    
    &__title {
        margin-bottom: 10px;
    }

    &__paragraph {
        margin-bottom: 30px;
    }
}

.operation {
    @include padding-block;
    @include flex-column;
    gap: 30px;

    ol {
        display: grid;
        flex-wrap: wrap;
        gap: 30px;
        counter-reset: step;
        @include tablet {
            @include grid-3-columns;
        }
    }

    li {
        background-color: $bg-section;
        padding: 30px;
        flex-grow: 1;
        border-radius: 20px;
        position: relative;
        @include shadow;
        @include flex-row;
        align-items: center;
        &::before {
            content: counter(step);
            counter-increment: step;
            background-color: $color-primary;
            border-radius: 50%;
            padding: 10px;
            position: absolute;
            display: flex;
            align-items: center;
            left: -15px;
            width: 10px;
            height: 10px;
            color: $color-white;
        }
        &:hover {
            background-color: lighten($color-primary, 35%);
            //faire function comme dans cours
            i {
                color: $color-primary;
            }
        }
    }

    i { 
        color: $color-icon;
        font-size: 20px;
        margin: 0 15px;
        @include tablet {
            margin-left: 5px;
        }
    }
}

.restaurants {
    background-color: $bg-section;
    @include padding-block;
    @include flex-column;
    gap: 30px;

    &__list {
        display: grid;
        gap: 20px;
        @include tablet {
            @include grid-2-columns;
        }
    }

    &__card {
        border-radius: 20px;
        gap: 20px;
        @include shadow;
        &:hover {
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
        }
    }

    &__img-card {
        position: relative;
    }

    img {
        height: 175px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    &__new {
        color: darken($color-tertiary, 50%);
        background-color: $color-tertiary;
        padding: 9px 12px;
        position: absolute;
        top: 15px;
        right: 16px;
        border-radius: 5px;
    }

    &__description {
        padding: 15px;
        position: relative; 
        display: flex;
        justify-content: space-between;
    }

    &__heart {
        position: absolute;
        top: 15px;
        right: 50px;
    }
}