.menu { 
    &__cover {
        width: 100%;
        height: 30vh;
        padding: 0;
        border-radius: 0;
        @include tablet {
            height: 40vh;
        }
    }
    
    &__card {
        position: relative;
        margin-top: -30px;
        border-radius: 30px 30px 0 0;
        padding: 30px 15px;
        background-color: $bg-section;
        @include tablet {
            @include padding-block;
        }
    }

    &__heading {
        @include flex-row;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 30px;        
    }

    &__heart {
        i {
            top: 40px;
            right: 30px;
            @include tablet {
                top: 50px;
                right: 80px;
            }
        }
    }

    &__content {
        display: grid;
        gap: 30px;
        margin-bottom: 40px;
        @include for-delay (1, 3, 0.5s); // appear animation delay for each menu-group
        @include desktop {
            @include grid-3-columns;
        }
    }

    &__group {
        animation: appear 1500ms both;
    }

    &__group-title {
        margin-bottom: 10px;
    
        &:after {
            content: "";
            display: block; 
            width: 40px;
            padding-top: 2px;
            border-bottom: 4px solid $color-tertiary;
        }
    }

    &__list-item {
        display: grid;
        gap: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        overflow: hidden; /* check button */
        border-radius: 10px;
        background-color: $color-white;
        @include shadow;

        &:hover .menu__check {
            margin-right: 0;
            i {
                animation: rotate 0.5s ease-in;
            }
        }
    }

    &__item-left {
        padding: 10px;
        min-width: 0;
    }

    &__item-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include tablet {
            @include grid-3-columns;
        }
    }

    &__item-right {
        display: flex;
        gap: 10px;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        padding: 10px;
        font-weight: bold;
    }
    
    &__btn-order {
        @include flex-center;
        margin-bottom: 10px;
    }
}