.operatings {
    @include padding-block;
    display: flex;
    flex-direction: column;
    gap: 30px;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
            article {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: $bg-section;
                padding: 30px 30px;
                gap: 20px;
                border-radius: 20px;
                @include shadow;
            }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $color-primary;
                    border-radius: 50%;
                    border: 2px solid $color-primary;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 15px;
                    color: $color-white; /* faire fonction calcul couleur si sombre mettre blanc */
                }

                    i {
                        color: $color-icon;
                        font-size: 20px;
                    }
}