$breakpoints:
(
    tablet: 769px,
    desktop: 1025px
);

@mixin tablet 
{
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop
{
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}