@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@mixin padding-block {
    padding: 50px 30px;
}

@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary);
}
