@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@mixin padding-block {
    padding: 50px 30px;
}

@mixin gradient {
    background: linear-gradient($color-secondary, $color-primary);
}


// btn-check
@mixin rotate {
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg);
        }
    }
    
    i {
        animation: rotate 0.5s ease-in;
    }
}


// LOADER
// @mixin bounce {
//     animation: bounce;
//     animation-duration: 1.3s;
//     animation-iteration-count: infinite;

//     @keyframes bounce {
//         0% {
//             transform: translateY(0px)
//         }
//         40% {
//             transform: translateY(-40px);
//         }
//         100% {
//             transform: translateY(0px);
//         }
//     }
// }

// Loader : increase the animation delay by 0.1s for the next letter (&__letter:nth-child(..))
// @mixin delay($rule, $number, $value) {
//     @for $i from 1 to ($number + 1) {
//       &:nth-child(#{$i}) {
//         -webkit-#{$rule}-delay: (#{$i*$value});
//         #{$rule}-delay: (#{$i*$value});
//       }
//     }
//   }

// @mixin fade {
//     animation: fade;
//     animation-duration: 0s;
//     animation-delay: 3s;
//     animation-fill-mode: forwards; // prevent an animated element from resetting visually after the animation finishes

//     @keyframes fade {
//         from {
//             opacity:1;
//             display: block;
//         }
//         to {
//             opacity:0;
//             z-index:-100;
//             display:none;
//         }
//     }
// }