$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-location: #e5e5e5;
$bg-section: #F7F7F7;
$bg-footer: #353535;
$color-icon: #6b6b6b;
$color-black : #000000;
$color-white : #ffffff;
$color-hover: #f3e7ff // https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass/6598491-ameliorez-les-mixins-avec-les-fonctions-sass pas besoin de mettre , faire comme dans cours sass pour modifer couleur base sur pseudo eleement